@model IEnumerable<UniversityManagementSystem.Models.DepartmentsCourses>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"]!=null)
{
    <h2 class="text-success">@TempData["Success"]</h2>
}
else if (TempData["Delete"] != null)
{
    <h2 class="text-danger">@TempData["Delete"]</h2>
}
else if (TempData["Edit"] != null)
{
    <h2 class="text-warning">@TempData["Edit"]</h2>    
}


    <h1 class="iTitle">Departments Courses</h1>
@if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
{
<p><a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Create New</a></p>
}
<table class="table table-bordered border-primary text-center table-hover">
    <thead class="table-active">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            @if (User.IsInRole("Administrator") || User.IsInRole("Deans"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            @if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
            {
                <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
