@model IEnumerable<UniversityManagementSystem.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <h2 class="text-success">@TempData["Success"]</h2>
}
else if (TempData["Delete"] != null)
{
    <h2 class="text-danger">@TempData["Delete"]</h2>
}
else if (TempData["Edit"] != null)
{
    <h2 class="text-warning">@TempData["Edit"]</h2>
}


<h1 class="iTitle">Enrollments</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 text-start">
            @if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
            {
                <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Create New</a>
            }            
        </div>
        <div class="col-6 text-end">
            <p><button class="btn btn-primary" onclick="printTable()"><i class="bi bi-printer"></i> &nbspPrint</button></p>
        </div>
    </div>
</div>

<table class="table table-bordered border-primary text-center table-hover" id="enrollmentTable">
    <thead class="table-active">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>day/time</th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                Lecturer Mail
            </th>            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Course.Lecturer.Mail == User.Identity.Name)
            {
                <tr>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Course.DayOfStudy) @Html.DisplayFor(modelItem => item.Course.TimeOfStudy)</td>
                    <td class="p-1 m-0">

                        @if (item.Grade == 0)
                        {
                            <text>not set</text>
                        }
                        else if (item.Grade < 3)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                        else
                        {
                            <span style="color:green">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                    </td>

                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td class="p-1 m-0">
                        <a href="mailto:@(item.Course.Lecturer.Mail)">@item.Course.Lecturer.FullName</a>
                    </td>
                    <td class="p-1 m-0">
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a>
                    </td>
                </tr>
            }
            else if (item.Student.Mail == User.Identity.Name)
            {
                <tr>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Course.DayOfStudy) @Html.DisplayFor(modelItem => item.Course.TimeOfStudy)</td>
                    <td class="p-1 m-0">

                        @if (item.Grade == 0)
                        {
                            <text>not set</text>
                        }
                        else if (item.Grade < 3)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                        else
                        {
                            <span style="color:green">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                    </td>

                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td class="p-1 m-0">
                        <a href="mailto:@(item.Course.Lecturer.Mail)">@item.Course.Lecturer.FullName</a>
                    </td>                   
                    <td class="p-1 m-0">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
            else if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
            {
                <tr>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Course.DayOfStudy) @Html.DisplayFor(modelItem => item.Course.TimeOfStudy)</td>
                    <td class="p-1 m-0">

                        @if (item.Grade == 0)
                        {
                            <text>not set</text>
                        }
                        else if (item.Grade < 3)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                        else
                        {
                            <span style="color:green">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                    </td>

                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td class="p-1 m-0">
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td class="p-1 m-0">
                        <a href="mailto:@(item.Course.Lecturer.Mail)">@item.Course.Lecturer.FullName</a>
                    </td>                    
                    <td class="p-1 m-0">
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>

    <script>
        function printTable() {
            var printContents = document.getElementById("enrollmentTable").outerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    

</table>
