@model IEnumerable<UniversityManagementSystem.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
{
    <p><a asp-action="Create">Create New</a></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                Lecturer Mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Course.Lecturer.Mail == User.Identity.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>

                        @if (item.Grade == 0)
                        {
                            <text>not set</text>
                        }
                        else if (item.Grade < 3)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Grade)
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        <a href="mailto:@(item.Course.Lecturer.Mail)">@item.Course.Lecturer.FullName</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
            else if (item.Student.Mail == User.Identity.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>

                        @if (item.Grade == 0)
                        {
                            <text>not set</text>
                        }
                        else if (item.Grade < 3)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Grade)
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        <a href="mailto:@(item.Course.Lecturer.Mail)">@item.Course.Lecturer.FullName</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
            else if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>

                        @if (item.Grade == 0)
                        {
                            <text>not set</text>
                        }
                        else if (item.Grade < 3)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => item.Grade)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Grade)
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        <a href="mailto:@(item.Course.Lecturer.Mail)">@item.Course.Lecturer.FullName</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
