@model IEnumerable<UniversityManagementSystem.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="iTitle">Departments</h1>
@if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
{
    <p><a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Create New</a></p>    
}
<table class="table table-bordered border-primary text-center table-hover">
    <thead class="table-active">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                Student Count
            </th>
            <th>
                Course Count
            </th>
            @if (User.IsInRole("Administrator") || User.IsInRole("Deans"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>                
                <a href="mailto:@(item.Dean.Mail)">@item.Dean.Mail</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Name)
            </td>
            <td>
                @*@item.Students.Count*@
                @item.GetStudentCount()
            </td>
            <td>                
                @item.GetCourseCount()
            </td>

            @if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
            {
            <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
