@model UniversityManagementSystem.Models.Appoinment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Appoinment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dean.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSlotActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSlotActive)
        </dd>
    </dl>
</div>

<hr />
@if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
{
    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </div>
}
else if (User.IsInRole("Student"))
{
    <div>
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </div>
}
