@model UniversityManagementSystem.Models.Faculty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Faculty Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dean.FullName)
        </dd>
        <dt class = "col-sm-2">
            Mail
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Dean.Mail)*@
            <a href="mailto:@Model.Dean.Mail">@Html.DisplayFor(model => model.Dean.Mail)</a>
        </dd>        
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
