@model IEnumerable<UniversityManagementSystem.Models.Faculty>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="iTitle">Faculties</h1>
@if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
{
    <p><a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Create New</a></p>
}

<table class="table table-hover ">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dean)
            </th>
            <th>Departments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                    <a href="mailto:@(item.Dean.Mail)">@item.Dean.Mail</a>
            </td>
            <td>
                    @foreach (var department in item.Departments)
                    {                        
                        <p>
                            <a asp-action="Details" asp-controller="Departments" asp-route-id="@department.Id">@department.Name</a>
                        </p>
                    }
             </td>

           @if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
           {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
           }
        </tr>
}
    </tbody>
</table>
